/* Slider */
.slick-slider
{
    direction: ltr;
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.featured-post .slick-dots{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 30px 0 40px;
    margin: 0;
    height: 12px;
    z-index: 1000;
}
.featured-post .slick-dots li{
    position: relative;
    display: inline-block;
    width: 12px;
    margin: 0 2px;
}
.featured-post .slick-dots li button{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: fff;
    border: solid 2px aeaeae;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    outline: none;
}
.featured-post .slick-dots li.slick-active button::before{
    content:"";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #4CAF50;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}
.most-popouler-post .slick-prev{
    position: absolute;
    left: -60px;
    top: 35%;
    width: 35px;
    height: 35px;
    border: 0;
    background: transparent;
    overflow: hidden;
}
.most-popouler-post .slick-prev::before{
    content: "\f060";
    font-family: "fontAwesome";
    position: absolute;
    font-size: 12px;
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
    color: #4CAF50;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #4CAF50;
    line-height: 35px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.most-popouler-post .slick-next{
    position: absolute;
    right: -60px;
    top: 35%;
    width: 35px;
    height: 35px;
    border: 0;
    background: transparent;
    overflow: hidden;
}
.most-popouler-post .slick-next:before{
    content: "\f061";
    font-family: "fontAwesome";
    position: absolute;
    font-size: 12px;
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
    color: #4CAF50;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #4CAF50;
    line-height: 35px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.most-popouler-post .slick-next:hover:before,.most-popouler-post .slick-prev:hover::before{
    background:#4CAF50 ;
    color: #fff;
    border: #4CAF50;
}


